<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/registration.css">
    <title th:text="#{labels.registration}"></title>
</head>
<body>
<h1>Registration</h1>
<form action="#" th:action="@{/registration}" th:object="${registrationDto}" method="post">
    <div id="error_container">
        <div th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
    </div>
    <table>
        <tr>
            <td>
                <div><span th:text="#{labels.name}"/>:</div>
            </td>
            <td>
                <input th:field="*{name}"/>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" th:value="#{buttons.save}"/>
            </td>
        </tr>
    </table>
</form>
</body>
</html>